@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font: 50px Courier, verdana">Movie Database Project</h1>
    <hr />
    <p style="font:40px Courier, verdana">Brett Smith</p>
    <p style="font:40px Courier, verdana">Devin Metzger</p>
    <p style="font:40px Courier, verdana">Jacob Lazano</p>
    <p style="font:40px Courier, verdana">Will Pano</p>
    <img src="https://s3-us-west-2.amazonaws.com/flx-editorial-wordpress/wp-content/uploads/2018/03/13153742/RT_300EssentialMovies_700X250.jpg">
</div>
